:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gris-claro: #dfe9f3;
}

/* HTML */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit; /*la caja no aumentara tamaño por mas padding o margin que se le de*/
  }

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%); /* gradiente hacia arriba para el fondo de la pag */
}

/* Tipografía */

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    text-decoration: none; /* quitar la linea a los enlaces */
}
h1, h2, h3 {
    text-align: center;
}

/* General */

.contenedor {
    max-width: 120rem; /* para que el contenedor aumente hasta un max de 120rem*/
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; /*mayúsculas*/
    border-radius: .5rem;
    width: 80%;
    border: none;
}
@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75); /* prefijos para navegadores de versiones anteriores */
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Utilidades */

.w-sm-100{
    width: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
/* Header */

.titulo {
    color: var(--primario);
}

.titulo span {
    font-size: 2rem;
}

/* Navegación principal */

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { /* Esto aplica hasta un min de 768px*/
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    /* background-color: var(--primario); */
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Imagen hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /*para que no se repita la imagen*/
    background-size: cover;
    height: 45rem;
    /* padding: 2rem; */
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7); /*efecto oscuro a la imagen*/
    background-color: rgb( 0 0 0 / 70%); /*otra sintaxis mas actual*/
    width: 100%;
    height: 100%;
    padding: 2rem;

    display: flex; /*para centrar las cajas en todas las direcciones*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

/* Ubicacion */

.ubicacion {
    display: flex;
    align-items: end ;
}

/* Servicios */

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* se usa para cuando se quiere crear muchas columnas*/
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
    }    
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
}
.servicio p {
    line-height: 1.5; /* interlineado */
    text-align: center;
}
.servicio-iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%; /* para crear un circulo */

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contactos */

.formulario {
    background-color: var(--gris);
    border: 2rem;
    width: min(60rem, 100%); /* el formulario solo crecerá hasta 60rem */
    margin: 0 auto; /* centra el formulario, otra opción si no hay display: flex; */
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none; /* quitar bordes por defecto */
}
.formulario legend {
    color: var(--primario);
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase; /* mayúsculas */
    margin: 0 auto 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
    }
    .campo:nth-child(3), /* el tercer elemento con la clase campo, otra manera de hacer lo mismo */
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
.campo-inputs {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}
.campo textarea {
    height: 20rem;
}

@media (min-width: 768px) {
    .boton-enviar {
        display: flex;
        justify-content: flex-end;
    }
}

/* Footer */

.footer {
    text-align: center;
}