:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* HTML */

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

/* Header */

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}

.titulo span {
    font-size: 2rem;
}

/* Navegación principal */

.contenedor {
    max-width: 120rem; /* para que el contenedor aumente hasta un max de 120rem*/
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { /* Esto aplica hasta un min de 768px*/
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    /* background-color: var(--primario); */
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* .seccion{
    text-align: center;
} */