:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* HTML */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit; /*la caja no aumentara tamaño por mas padding o margin que se le de*/
  }

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

/*General */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    text-align: center;
}


.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; /*mayúsculas*/
    border-radius: .5rem;
    width: 80%;
}
@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}

/* Header */

.titulo {
    color: var(--primario);
}

.titulo span {
    font-size: 2rem;
}

/* Navegación principal */

.contenedor {
    max-width: 120rem; /* para que el contenedor aumente hasta un max de 120rem*/
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { /* Esto aplica hasta un min de 768px*/
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    /* background-color: var(--primario); */
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Imagen hero */

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /*para que no se repita la imagen*/
    background-size: cover;
    height: 45rem;
    /* padding: 2rem; */
    position: relative;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    background-color: rgb( 0 0 0 / 70%); /*otra sintaxis mas actual*/
    width: 100%;
    height: 100%;
    padding: 2rem;

    display: flex; /*para centrar las cajas en todas las direcciones*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

/* Ubicacion */

.ubicacion {
    display: flex;
    align-items: end ;
}